@if (requiredValid){

  <div class="container-password">
  
    <div [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }">
      <i [attr.class]="minLengthValid ? 'pi pi-check-circle' : 'pi pi-times-circle'"></i>
      Deve ter no mínimo 8 caracteres
    </div>

    <div [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid }">
      <i [attr.class]="requiresDigitValid ? 'pi pi-check-circle' : 'pi pi-times-circle'"></i>
      Deve conter pelo menos 1 número
    </div>

    <div [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid }">
      <i [attr.class]="requiresUppercaseValid ? 'pi pi-check-circle' : 'pi pi-times-circle'"></i>
      Deve conter pelo menos 1 letra maiúscula
    </div>

    <div [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid }">
      <i [attr.class]="requiresLowercaseValid ? 'pi pi-check-circle' : 'pi pi-times-circle'"></i>
      Deve conter pelo menos 1 letra minúscula
    </div>

    <div [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger': !requiresSpecialCharsValid }">
      <i [attr.class]="requiresSpecialCharsValid ? 'pi pi-check-circle' : 'pi pi-times-circle'"></i>
      Deve conter pelo menos 1 caractere especial
    </div>

    <div [ngClass]="{ 'text-success': passwordMatch, 'text-danger': !passwordMatch }">
      <i [attr.class]="passwordMatch ? 'pi pi-check-circle' : 'pi pi-times-circle'"></i>
      As senhas devem ser iguais
    </div>
    </div>

}
