@import "../../../core/scss/variables.scss";

.container-password {
    margin-bottom: 25px;
    margin-top: -40px;
    i {
        margin-right: 5px;
    }

    .text-danger {
        align-items: center;
        display: flex;
        color: $error-color;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        margin: 5px 0;
    }
    
    .text-success {
        align-items: center;
        display: flex;
        color: $success-color;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        margin: 5px 0;
    }

}

