<section class="container-map">
    <header>
        <app-filter (filtersChanged)="onFiltersChanged($event)"></app-filter>
    </header>

    <div class="container-infos">
        <div class="container-infos__imgs">
            @if(loading){
                <app-loading></app-loading>
            } @else {
                @for (item of listCoffeeShop; track item) {
                    <figure class="container-infos__imgs_card-img" 
                    (click)="highlightMarker(item.latitude, item.longitude, item.id)">
                        <img  [src]="item.urlImage" [alt]="item.name">
                        <figcaption>
                            <h2>{{ item.name }}</h2>
                            <p>{{ item.address }}</p>
                        </figcaption>
                    </figure>
                }@empty {
                    <p>Cafeteria não encontrada ):</p>
                }
            }
        </div>
        <div class="container-infos__map">
            <google-map mapId="yourMapId" height="600px" [options]="options">
                @for (position of advancedMarkerPositions; track position) {
                  <map-advanced-marker 
                  #markerElem="mapAdvancedMarker" 
                  [position]="position" 
                  [options]="advancedMarkerOptions" 
                  [content]="position.content"
                  (mapClick)="openInfoWindow(markerElem, position.coffeeShopData)"/>

                  <map-info-window>
                    <div *ngIf="selectedCoffeeShop">
                      <h2>{{ selectedCoffeeShop.name }}</h2>
                      <p>{{ selectedCoffeeShop.address }}</p>
                      <img [src]="selectedCoffeeShop.urlImage" alt="{{ selectedCoffeeShop.name }}" style="width: 100%; max-width: 200px;">
                    </div>
                  </map-info-window>
                }
                
            </google-map>
        </div>
    </div>
</section>