.loader-holder {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   z-index: 10;
    p {
        text-align: center;
        margin: 50px 0;
    }
  }
  .loader {
    position:relative;
    z-index:1;
  }
  #loader-1{
    animation: bounce 2s ease-in-out 0.1s infinite;
  }
  #loader-2{
    animation: bounce 2s ease-in-out 0.5s infinite;
  }
  #loader-3{
    animation: bounce 2s ease-in-out 0.9s infinite;
  }
  #loader-4{
    animation: bounce 2s ease-in-out 1.3s infinite;
  }
  @keyframes bounce{
    0%,  100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0) rotate(0);
      
    }
  
    50% {
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      transform: translateY(-30px) rotate(360deg);
    }
  
  }