.vegano {
    background-color: #a8d5ba;
    border-radius: 7px;
    color: #2d572c;
    padding: 5px;
    width: fit-content;
}

.vegetariano {
    background-color: #d3e8a5;
    border-radius: 7px;
    color: #5b7f24;
    padding: 5px;
    width: fit-content;
}

.petfriendly {
    background-color: #ffe5b4;
    border-radius: 7px;
    color: #a64b00;
    padding: 5px;
    width: fit-content;
}

.coworking {
    background-color: #cce7f0;
    border-radius: 7px;
    color: #004d73;
    padding: 5px;
    width: fit-content;
}

.wifi {
    background-color: #dfe7f2;
    border-radius: 7px;
    color: #1c2a3f;
    padding: 5px;
    width: fit-content;
}

.sem-gluten {
    background-color: #f9d4d4;
    border-radius: 7px;
    color: #852222;
    padding: 5px;
    width: fit-content;
}

.menor-preco {
    background-color: #d4f5e1;
    border-radius: 7px;
    color: #006d3c;
    padding: 5px;
    width: fit-content;
}

.maior-preco {
    background-color: #fce4f7;
    border-radius: 7px;
    color: #870056;
    padding: 5px;
    width: fit-content;
}

  