//cores

$white: #fcfcfc;
$other-white: #fff;
$black: #100701;
$error-color: #ff5757;
$success-color: #22c55e;


$border-radius: 10px;

//font-size
$font-size-tiny: 10px;      
$font-size-extra-small: 11px; 
$font-size-small: 12px;    
$font-size-normal: 14px;    
$font-size-medium: 16px;    
$font-size-large: 18px;    
$font-size-extra-large: 20px; 
$font-size-2xl: 24px;      
$font-size-3xl: 30px;       
$font-size-4xl: 60px;      

// Font Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;   
$font-weight-medium: 500;   
$font-weight-bold: 600;
$font-weight-extra-bold: 700; 
$font-weight-black: 800;
$font-weight-heavy: 900;
