<main > 
    <header class = "header-home">        
      <button class="btn">entrar</button>
    </header>         
    <div class = "container-list">        
        <h1>Descubra, saboreie e compartilhe o melhor café com o Cafezito</h1>
        <img [src]="graosHome" alt="Grãos">                                
    </div>        
    <div class="titulo">
        <div class ="titulo_cafezito">
            <h1>CAFEZITO</h1>
            <img [src]="cafezitoHomeUm" alt="figura1" style="width:350px " p-6 >
            <img [src]="cafezitoHomeDois" alt="figura2" style="width:350px">
        </div>
        <div class="imagens">            
            <img [src]="cafezitoHomeTres" alt="figura3" >
            <img [src]="cafezitoHomeQuatro" alt="figura4" >
            <img [src]="cafezitoHomeCinco" alt="figura5" >
        </div>                   
    </div>    
    <div class="descricao">
        <img [src]="placaCoffee" alt="Placa Cafeteria" class="descricao__imagem" />
        <div class="descricao__texto">
          <p>
            O Cafezito é a solução perfeita para os amantes de café e frequentadores
            de cafeterias que buscam o ambiente ideal para suas necessidades. Em uma
            cidade rica em opções, muitos enfrentam dificuldades para encontrar o
            local que mais se adapta ao seu estilo de vida — seja para trabalhar,
            relaxar ou socializar. Com diversas cafeterias espalhadas pela cidade, a
            falta de uma plataforma centralizada torna essa busca ainda mais
            desafiadora.
          </p>
        </div>
    </div>
    <div class="objetivo">        
        <div class="p-col-12 p-md-7 objetivo__texto">
            <p>
              Nosso objetivo é resolver as principais dores dos consumidores de café,
              proporcionando uma experiência rica e personalizada. Com o Cafezito,
              você encontrará o local perfeito para saborear uma boa xícara de café,
              seja para um trabalho produtivo ou um momento de lazer. Estamos
              construindo uma base sólida para o crescimento do aplicativo, sempre
              com o foco em você, o verdadeiro apreciador de café.
            </p>
            <strong>
              Venha conosco e descubra tudo o que Porto Alegre tem a oferecer em
              cafeterias!
            </strong>          
        </div>
        <img [src]="aguaGas" alt="Café e Agua com Gas" class="objetivo_imagem" style="width:500px" >                                
    </div>
    <div class="diferencial">
    <h2>Nossos Diferenciais</h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="diferenciais">                    
        <div class="grid-container">
          <!-- Card 1 -->
          <div class="card">
            <div class="card">
              <div class="flex align-items-center justify-content-center mb-3">
                <i class="pi pi-objects-column" style="font-size: 2rem"></i>
              </div>
              <h3 class="text-center">Plataforma Integrada</h3>
              <p class="text-justify">
                O Cafezito centraliza todas as informações sobre
                cafeterias em Porto Alegre, eliminando a necessidade
                de usar múltiplas plataformas.
              </p>
            </div>
          </div>
      
          <!-- Card 2 -->
          <div class="card">
            <div class="card">
              <div class="flex align-items-center justify-content-center mb-3">
              <i class="pi pi-heart" style="font-size: 2rem"></i>
              </div>
              <h3 class="text-center">Experiência Personalizada</h3>
              <p class="text-justify">
                Com filtros específicos, como opções veganas/vegetarianas,
                ambientes pet-friendly e qualidade de Wi-Fi,
                oferecemos uma busca adaptada.
              </p>
            </div>
          </div>
      
          <!-- Card 3 -->
          <div class="card">
            <div class="card">
              <div class="flex align-items-center justify-content-center mb-3">
                <i class="pi pi-book" style="font-size: 2rem"></i>
              </div>
              <h3 class="text-center">Informações Abrangentes</h3>
              <p class="text-justify">
                Cada cafeteria tem um perfil completo, 
                com detalhes sobre o ambiente, serviços e
                classificações de preço.
              </p>
            </div>
          </div>
          <div class="linha-divisoria"></div>          
          <div class="card">
            <div class="card">
              <div class="flex align-items-center justify-content-center mb-3">
                <i class="pi pi-tags" style="font-size: 2rem"></i>
              </div>
              <h3 class="text-center">Vouchers e Ofertas</h3>
              <p class="text-justify">
                Ao utilizar o app, você tem acesso a promoções especiais,
                tornando suas visitas ainda mais agradáveis e econômicas.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card">
              <div class="flex align-items-center justify-content-center mb-3">
                <i class="pi pi-users" style="font-size: 2rem"></i>
              </div>
              <h3 class="text-center">Interatividade e Comunidade</h3>
              <p class="text-justify">
                A seção e feedback permite que você compartilhe 
                suas experiências e leia as avaliações de outros usuários, 
                promovendo uma comunidade engajada e informada.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card">
              <div class="flex align-items-center justify-content-center mb-3">
                <i class="pi pi-map-marker" style="font-size: 2rem"></i>
              </div>
              <h3 class="text-center">Facilidade de Navegação</h3>
              <p class="text-justify">
                O mapa interativo é uma ferramenta intuitiva que permite
                encontrar rapidamente cafeterias próximas, ajudando você a
                planejar suas visitas de forma eficiente.
              </p>
            </div>
          </div>          
        </div>
      </section>
      <div class="homem-cafeteria">        
          <h1>Pronto para conhecer o Cafezito?</h1>
          <button class="btn">Criar conta</button>        
        <div class="image-container">
          <div class="circle">
            <img [src]="homemCafeteria" alt="Imagem de uma cafeteria" >
          </div>
        </div>
      </div>
      <div class = "logos">
        <i class="pi pi-facebook" style="font-size: 2rem"></i>        
        <i class="pi pi-instagram"  style="font-size: 2rem"></i>
      </div>
             
         
</main>