@import "../../core/scss/mixins.scss";
@import "../../core/scss/variables.scss";

.container-list {
    background-color: #896A50;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    width: 100%;
    
    h1 {
        color: #DAD1C8;
        font-size: 70px;
        font-weight: 500px;
        letter-spacing: 1px;
        margin-bottom: 08rem;
        margin-left: 8px;
        padding: 40px 100px;
        position: relative;
        width: 50%;
        z-index: 2;
        
    }

    img {       
        position: absolute;
        max-height: 400px;        
        top: 28%; // Alinha verticalmente ao centro (opcional)
        right: 0; // Encosta no lado direito
        transform: translateY(-50%); // Centraliza verticalmente
        margin-right: 15rem; // Espaçamento adicional, se necessário
        filter: opacity(85%);
    }

    button-entrar { 
        color: #DAD1C8;
        float: right;
        margin-right: 15rem;
        margin-left: 80rem;
        top: 3%; 
        right: 0;
        transform: translateY(-50%); 
        justify-content: flex-end;

    }   
      
        
        
         @include tablet {
            max-height: 400px;
          }
        
        

}
