@import "../../core/scss/mixins.scss";
@import "../../core/scss/variables.scss";

.container-login {
    background-color: $other-white;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    &__login {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 25px;
        width: 50%;

        .form {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 50%;

            .img-logo {
                margin-bottom: 15px;
            }

            @include medium-web {
                width: 80%;
            }

            form {
                margin-top: 30px;
                width: 100%;

                .btn-forgot-password {
                    display: flex;
                    justify-content: flex-end;
                    margin: -6px 0 10px 0;
                }

                ::ng-deep button.p-ripple.p-element.p-button.p-component.p-disabled.p-button-sm,
                ::ng-deep button.p-ripple.p-element.p-button.p-component.p-button-sm {
                    width: 100%;
                }

                .container-input {
                    height: 65px;
                    margin-bottom: 35px;

                    .input {
                        width: 100%;
                        input {
                            width: 100%;
                        }
                    }
                }
            }

            &__title {
                color: var(--primary-color);
                margin: 0;
                font-size: $font-size-2xl;
                font-weight: $font-weight-bold;
            }
        }

        @include tablet {
            width: 100%;
            height: 100%;
        }
    }

    &__logo {
        width: 70%;
        @include medium-web {
            display: none;
        }

        .bg-login {
            height: 100%;
            object-fit: cover;
            position: relative;
            width: 100%;
        }

        .logo-light {
            margin: 15px 0 0 15px;
            position: absolute;
            z-index: 2;
        }
    }
}

.invalid-feedback {
    color: $error-color;
    font-size: $font-size-tiny; 
    font-weight: $font-weight-bold;
    margin-top: 5px;
}
